.recommend{
  width: 100vw;
  height: 55px;
  line-height: 60px;
  padding-left: 10px;
}
.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: 340px; */
  overflow: hidden;
  margin-bottom: 20px;
}
.songlist {
  flex: 1;
  text-align: center;
  min-width: 33%;
  max-width: 33%;
  /* height: 165px; */
  margin-bottom: 10px;
}
.songlist img{
  width: 100%;
}
.songlist .name{
  padding: 5px;
  font-size: 13px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.list {
  padding: 0 10px;
}
.list .listtit {
  font-size: 12px;
  margin-top: 2px;
  color: rgb(99, 95, 95);
}